.game-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center; 
  backdrop-filter: blur(4px);
}

.game-alert-box {
  width: 85%;
  max-width: 400px;
  background: white;
  border: 4px solid #333;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}


@keyframes slideUp {
  from { transform: translateY(100px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.game-alert-content p {
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.game-alert-btn {
  background: #3b4cca;
  color: white;
  border: none;
  padding: 8px 20px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  border-radius: 5px;
}

/* Colores por tipo */
.game-alert-box.victory { border-color: #ffcb05; }
.game-alert-box.error { border-color: #ff5252; }
.game-alert-box.success { border-color: #4caf50; }

